/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/




@import 'base/base.css';

/******************************************
/* LAYOUT
/*******************************************/

@import 'comp/slider.css';


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#hamburger {

  position: absolute;
  width: 30px;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: 10px;
  margin-top: 15px;
}

#nav {

  display: none;
  float: left;
  width: 100px;
  height: 942px;
  background-color: gray;
  z-index:1;

}
