$blue: #1be7ff; //rgba(27, 231, 255, 100)
$green: #6eeb83; //rgba(110, 235, 131, 100)
$yellow: #e4ff1a; //rgba(228, 255, 26, 100)
$orange: #e8aa14; //rgba(232, 170, 20, 100)
$red: #ff5714; //rgba(255, 87, 20, 100)
$white: #fefefe;
