/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #121212;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html {
  background: green;
}

#container {
    position: relative;
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

header {
  width: 100%;
  text-align: center;
  color: white;
  font-family: serif, times;
  font-size: 3.5em;
  margin-bottom: 1.0em;
}

.card {
    position: relative;
    cursor: pointer;
    float: left;
    width: 130px;
    height: 180px;
    border-radius: 5px;
    background-size: contain;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s ease;
    transform-style: preserve-3d;
}

.cardback {
    position: absolute;
    background-image: url("../img/bicycle-back.jpg");
    width: 130px;
    height: 180px;
    border-radius: 5px;
    background-size: contain;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardfront {
    position: absolute;
    width: 130px;
    height: 180px;
    border-radius: 5px;
    background: white;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /*z-index: -1;*/
}

li {
    list-style: none;
}
