html {
  background: green;
}

#container {
  position: relative;
  width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  text-align: center;
  color: white;
  font-family: serif, times;
  font-size: 3.5em;
  margin-bottom: 1.0em;
}


.card {
  position: relative;
  cursor: pointer;
  float: left;
  width: 130px;
  height: 180px;
  border-radius: 10px;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s ease;
  transform-style: preserve-3d;
}

.cardback {
  position: absolute;
  width: 130px;
  height: 180px;
  background-image: url("../../img/bicycle-back.jpg");
  background-size: contain;
  /*z-index:10;*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /*display: none;*/
}

.cardfront {
  position: absolute;
  width: 130px;
  height: 180px;
  float: left;
  background: white;
  /*z-index: -1;*/
  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#spade {
  position: relative;
  width: 78px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
  background: url("../../img/french-suits.svg") 0 0;

}

#heart{
  position: relative;
  width: 78px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  background: url("../../img/french-suits.svg") 88px 0;
}

#club{
  position: relative;
  width: 90px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
  background: url("../../img/french-suits.svg") 95px 95px;
}

#diamond{
  position: relative;
  width: 78px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background: url("../../img/french-suits.svg") 0 95px;
}
