/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/******************************************
/* BODY
/*******************************************/
html {

  border-left: 5px solid rgba(221,221,221,1);
  padding-left: 3.0em;

}

body {

  font-family: "Lato", sans-serif;
  font-size: 16px;

}

img {

  width: 720px;
  height: auto;
  padding-top: 22px;

}

header h1 a {

  font-size: 3em;
  color: red;
  font-weight: 300;
  text-decoration: none;

}

header p {

  color: rgba(136,136,136,1);
  font-size: 20px;
  padding-top: 17px;
  font-weight: 300;

}

header nav a {

  margin-top: 19px;
  text-decoration: none;
  display: inline-block;
  color: rgba(255,255,255,1);
  width: 179px;
  height: 54px;
  line-height: 2.5;
  background: rgba(0,0,0,1);
  border-right: 1px solid rgba(255,255,255,1);
  text-align: center;
  font-size: 21px;

}

h3 {

  color: rgba(204,204,204,1);
  font-size: 2.0em;
  font-weight: 300;

}

h2 {

  margin-top: 1.0em;

}

h2 a {

  text-decoration: none;
  color: rgba(0,0,0,1);
  font-size: 2.0em;
  font-weight: 400;

}

.main-left p {

  padding-top: 32px;
  line-height: 1.6em;
  color: rgba(68,68,68,1);
  font-size: 1.0em;

}

.firstcharacter {

  font-size: 100px;
  float: left;
  color: rgba(0, 0, 0, 0.2);
  width: auto;
  height: 80px;
  font-weight: 300;
  margin-top: 0px;
  margin-left: -8px;
  margin-right: 14px;
  padding-top: 28px

}


.main-left h4 a {

  text-decoration: none;
  width: 720px;
  color: rgba(243,0,0,1);
  font-size: 1.2em;
  font-weight: 700;
  float: left;
/******************************************
/* Why doesn't this code work?
  position: relative;
  width: 730px;
  text-align: right;

  I want the width at 730px for the border.
/*******************************************/
  padding-top: 1.5em;
  border-bottom: 1px solid rgba(221,221,221,1);
  text-align: right;
  padding-bottom: 1.5em;

}

/******************************************
/* SIDEBAR
/*******************************************/

.sidebar h4 a {

  display:block;
  text-decoration: none;
  border-bottom: 1px solid rgba(221,221,221,1);
  padding-right: 12px;
  padding-bottom: 2.0em;
  margin-top: 2.5em;
  margin-right:10px;
  margin-bottom: 2.0em;
  color: rgba(243,0,0,1);
  width: 315px;
  text-align: right;
  font-weight: 700;
  font-size: 1.0em;

}

.sidebar p {

  line-height: 1.6em;

}

#ad {

  font-family: 'Bitter', serif;
  font-size: 60px;
  color: rgba(150,150,150,1);
  width: 300px;
  height: 250px;
  background: rgba(204,204,204,1);
  text-align: center;
  line-height: 4.0;
  clear: both;
  margin: auto;
  margin-left: 7.5px;

}


.sidebar #aboutus {

  font-weight: 700;
  color: rgba(136,136,136,1);
  margin-top: 10px;
  margin-bottom: 30px;

}

.sidebar p {

  color: rgba(136,136,136,1)

}

.sidebar #popularposts {

  border-top: 1px solid rgba(221,221,221,1);
  margin-top: 2.0em;
  padding-top: 2.5em;
  color: rgba(136,136,136,1);
  padding-bottom: 1.5em;
  font-weight: 700;
  width: 315px;
  margin-left: auto;
  margin-right: auto;

}

ul {

  position:relative;
  left: 1.2em;
  list-style-type: disc;


}

ul li {

  color: rgba(136,136,136,1);
  line-height: 1.6em;


}

ul li span {

  color: rgba(243,0,0,1);

}

ul li a {

  text-decoration: none;

}

.sidebar ul {

  padding-left: 1em;

}


/******************************************
/* FOOTER
/*******************************************/

.footer {

  margin-bottom: 10.0em;

}

.footer nav a {

  float: left;
  text-decoration: none;
  color: rgba(243,0,0,1);
  margin-top: 3.0em;
  padding-left: 5px;

}

.rightborder a {

  border-right:1px solid rgba(187,187,187,1);
  padding-right: 5px;
  padding-left: 5px;

}
