/******************************************
/* LAYOUT
/*******************************************/



header {
  position: relative;
  width: 1100px;
  height: 130px;
  top: 70px;
  left: 50px;
}

.main {
  position: relative;
  width: 1100px;
}

  .sidebar {
    width: 350px;
    float: right;
    padding-right: 25px;
  }

  .main-left {
    width: 750px;
    float: left;
    padding-left: 20px;
  }
