ul li:before {

  color: rgba(136,136,136,1); /* set color to red */
  content:"\2022"; /* /2022 is the numerical unicode for &bull; */
  font-size:1.0em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
  padding-right:.25em; /* give the bullet some padding from the text Make sure to use em*/
  position:relative;
    top:.1em; /* set the vertical position of the bullet if necessary. Make sure to use em or % */

}
